.scrollpanel-container {
  padding: 2rem;
  margin-bottom: 1rem;
  border: 1px solid var(--text-color);
  width: 768px;
  height: 600px;
}

button:not(:last-child) {
  margin-right: .5rem;
}

.nowrap  {
  white-space: nowrap;
}
